{% extends 'encuestas/base.html' %}
{% load bootstrap3 %}

{% block encabezado %}
<h1>Detalle de Encuesta: {{ pregunta.texto_pregunta|truncatewords:5|escape }}...</h1>
{% endblock encabezado %}

{% block contenido %}

<div class="panel panel-primary">
    <div class="panel-heading">¡Participe!</div>
    <div class="panel-body">
        <h2>{{ pregunta.texto_pregunta|escape }}</h2>

        <form action="{% url 'encuestas:votar' pregunta.id %}" method="post">
            {% csrf_token %}
            {% for opcion in pregunta.opcion_set.all %}
                <div class="radio">
                    <label>
                        <input type="radio" name="opcion" id="opcion{{ forloop.counter }}"
                               value="{{ opcion.id }}">
                        {{ opcion.texto_opcion }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Votar</button>
            <a class="btn btn-info" href="{% url 'encuestas:resultados' pregunta.id %}">
                Ver resultados
            </a>
            <a class="btn btn-default" href="{% url 'encuestas:editar' pregunta.id %}">
                {% bootstrap_icon "pencil" %} Editar Pregunta
            </a>
            <a class="btn btn-default" href="{% url 'encuestas:opciones' pregunta.id %}">
                {% bootstrap_icon "pencil" %} Editar Opciones
            </a>
        </form>
    </div>
</div>

{% endblock contenido %}