{% extends 'encuestas/base.html' %}

{% block encabezado %}
<h1>Detalle de Encuesta: {{ pregunta.texto_pregunta|truncatewords:5|escape }}...</h1>
{% endblock encabezado %}

{% block contenido %}

{% if mensaje_error %}<p><strong>{{ mensaje_error }}</strong></p>{% endif %}

<h2>{{ pregunta.texto_pregunta|escape }}</h2>

<form action="{% url 'encuestas:votar' pregunta.id %}" method="post">
    {% csrf_token %}
    {% for opcion in pregunta.opcion_set.all %}
        <input type="radio" name="opcion" id="opcion{{ forloop.counter }}" value="{{ opcion.id }}">
        <label for="opcion{{ forloop.counter }}">{{ opcion.texto_opcion }}</label><br>
    {% endfor %}
    <button type="submit">Votar</button>
</form>

<a href="{% url 'encuestas:resultados' pregunta.id %}">
    Ver resultados
</a>

{% endblock contenido %}