{% extends 'encuestas/base.html' %}

{% block contenido %}
{% autoescape on %}

{% if preguntas_recientes %}
    <h2>Encuestas recientes</h2>
    <ul>
    {% for pregunta in preguntas_recientes %}
        <li>
            <a href="{% url 'encuestas:detalle' pregunta.id %}">
            {{ pregunta.texto_pregunta }}
            </a>
            |
            <a href="{% url 'encuestas:resultados' pregunta.id %}">
            Ver resultados
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay encuestas disponibles.</p>
{% endif %}

{% endautoescape %}
{% endblock contenido %}