{% extends 'encuestas/base.html' %}

{% block contenido %}
{% autoescape on %}

{% if preguntas_recientes %}
    <h2>Encuestas recientes</h2>
    <ul class="list-group">
    {% for pregunta in preguntas_recientes %}
        <li class="list-group-item clearfix">
            {{ pregunta.texto_pregunta }}
            <div class="btn-group pull-right" role="group" aria-label="Acciones">
                <a class="btn btn-primary" role="button"
                href="{% url 'encuestas:detalle' pregunta.id %}">Votar</a>
                <a class="btn btn-info" role="button"
                href="{% url 'encuestas:resultados' pregunta.id %}">Ver resultados</a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay encuestas disponibles.</p>
{% endif %}

{% endautoescape %}
{% endblock contenido %}