{% extends 'encuestas/base.html' %}

{% block encabezado %}
<h1>Resultados de Encuesta: {{ pregunta.texto_pregunta|truncatewords:5|escape }}...</h1>
{% endblock encabezado %}

{% block contenido %}

<div class="panel panel-primary">
    <div class="panel-heading">Resultados</div>
    <div class="panel-body">
        <h2>{{ pregunta.texto_pregunta|escape }}</h2>

        <ul class="list-group">
        {% for opcion in pregunta.opcion_set.all %}
            <li class="list-group-item">
                <span class="badge">{{ opcion.votos }}</span>
                {{ opcion.texto_opcion }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

<a class="btn btn-primary" href="{% url 'encuestas:detalle' pregunta.id %}">
    Votar
</a>

{% endblock contenido %}
